<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.autojs.autojs">


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>


    <!-- 非Auto.js运行必需，不会主动申请，某些脚本可以自行申请-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- Ad SDK Permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/autojs_material"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label, android:icon, android:allowBackup">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity_"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".external.shortcut.ShortcutActivity"
            android:taskAffinity="org.autojs.autojs.external.shortcut.ShortcutActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".external.fileprovider.AppFileProvider"
            android:authorities="org.autojs.autojs.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".ui.edit.EditActivity_"
            android:configChanges="orientation|screenSize"
            android:launchMode="standard"
            android:multiprocess="true"
            android:taskAffinity="org.autojs.autojs.edit"
            android:theme="@style/EditorTheme">
        </activity>
        <activity android:name=".ui.settings.AboutActivity_"/>
        <activity
            android:name=".ui.settings.SettingsActivity_"
            android:theme="@style/AppTheme.Settings"/>
        <activity android:name=".ui.error.ErrorReportActivity"/>
        <activity
            android:name=".external.tasker.TaskerScriptEditActivity_"
            android:configChanges="orientation|screenSize"
            />
        <activity android:name=".ui.edit.ViewSampleActivity"/>
        <activity
            android:name=".ui.user.LoginActivity_"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.user.RegisterActivity_"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.user.WebActivity_"/>
        <activity
            android:name=".ui.project.BuildActivity_"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".ui.project.ProjectConfigActivity_"/>
        <activity android:name=".ui.log.LogActivity_"/>
        <activity android:name=".ui.doc.DocumentationActivity_"/>
        <activity android:name=".ui.shortcut.ShortcutIconSelectActivity_"/>
        <activity android:name=".ui.timing.TimedTaskSettingActivity_"/>
        <activity
            android:name=".ui.shortcut.ShortcutCreateActivity"
            android:theme="@style/AppTheme.Transparent"/>
        <activity android:name=".external.widget.ScriptWidgetSettingsActivity_">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.error.IssueReporterActivity"
            android:theme="@style/IssueReporterTheme"/>


        <service android:name=".external.foreground.ForegroundService"/>
        <service android:name=".external.ScriptExecutionIntentService"/>

        <activity android:name=".external.tasker.TaskPrefEditActivity_"/>

        <service
            android:name=".external.tile.LayoutBoundsTile"
            android:icon="@drawable/ic_circular_menu_bounds"
            android:label="@string/text_inspect_layout_bounds"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false"/>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <service
            android:name=".external.tile.LayoutHierarchyTile"
            android:icon="@drawable/ic_circular_menu_hierarchy"
            android:label="@string/text_inspect_layout_hierarchy"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">

            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="false"/>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <activity-alias
            android:name=".external.tasker.PluginActivity"
            android:exported="true"
            android:icon="@drawable/ic_android_eat_js"
            android:label="@string/app_name"
            android:targetActivity=".external.tasker.TaskPrefEditActivity_"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING"/>
            </intent-filter>
        </activity-alias>

        <receiver android:name="org.autojs.autojs.external.receiver.StaticBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.UID_REMOVED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.DREAMING_STARTED"/>
                <action android:name="android.intent.action.DREAMING_STOPPED"/>
                <action android:name="android.intent.action.HEADSET_PLUG"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
                <action android:name="android.intent.action.MEDIA_CHECKING"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH"/>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>
                <action android:name="android.intent.action.WALLPAPER_CHANGED"/>
                <action android:name="android.intent.action.USER_UNLOCKED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_RESTARTED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".external.tasker.FireSettingReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver">

            <!-- this Intent filter allows the plug-in to discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".external.open.EditIntentActivity"
            android:icon="@drawable/autojs_material"
            android:label="@string/text_edit_script">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/x-javascript"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".external.open.RunIntentActivity"
            android:icon="@drawable/autojs_material"
            android:label="@string/text_run_script"
            android:taskAffinity="org.autojs.autojs.external.open.RunIntentActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/x-javascript"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".external.open.ImportIntentActivity"
            android:icon="@drawable/autojs_material"
            android:label="@string/text_import_script"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/x-javascript"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.stardust.notification.NotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <receiver android:name=".external.widget.ScriptWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/script_widget_config"/>
        </receiver>

        <receiver android:name=".timing.TaskReceiver">
            <intent-filter>
                <action android:name="com.stardust.autojs.action.task"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>