<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.autojs.autojs">


    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <!-- 非Auto.js运行必需，不会主动申请，某些脚本可以自行申请-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- Ad SDK Permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        xmlns:tools="http://schemas.android.com/tools"
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/autojs_material"
        android:label="@string/_app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label, android:icon, android:allowBackup">

        <activity
            android:name=".ui.splash.SplashActivity_"
            android:hardwareAccelerated="true"
            android:label="@string/_app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity_"
            android:hardwareAccelerated="true"
            android:label="@string/_app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.FullScreen">
        </activity>
        <activity
            android:name=".external.shortcut.ShortcutActivity"
            android:taskAffinity="org.autojs.autojs.external.shortcut.ShortcutActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.autojs.autojs.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".ui.edit.EditActivity_"
            android:multiprocess="true"
            android:theme="@style/EditorTheme">
        </activity>
        <activity android:name=".ui.settings.AboutActivity_"/>
        <activity
            android:name=".ui.settings.SettingsActivity_"
            android:theme="@style/AppTheme.Settings"/>
        <activity android:name=".ui.error.ErrorReportActivity"/>
        <activity android:name=".external.tasker.TaskerScriptEditActivity_"/>
        <activity android:name=".ui.edit.ViewSampleActivity"/>
        <activity
            android:name=".ui.user.LoginActivity_"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.user.RegisterActivity_"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ui.user.WebActivity_"/>
        <activity android:name=".ui.build.BuildActivity_"/>
        <activity android:name=".ui.log.LogActivity_"/>
        <activity android:name=".ui.doc.DocumentationActivity_"/>
        <activity android:name=".ui.shortcut.ShortcutIconSelectActivity_"/>
        <activity android:name=".ui.timing.TimedTaskSettingActivity_"/>
        <activity
            android:name=".ui.shortcut.ShortcutCreateActivity"
            android:theme="@style/AppTheme.Transparent"/>
        <activity android:name=".external.widget.ScriptWidgetSettingsActivity_">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.error.IssueReporterActivity"
            android:theme="@style/IssueReporterTheme"/>


        <service android:name=".external.ScriptExecutionIntentService"/>

        <activity android:name=".external.tasker.TaskPrefEditActivity_"/>

        <activity-alias
            android:name=".external.tasker.PluginActivity"
            android:exported="true"
            android:icon="@drawable/ic_android_eat_js"
            android:label="@string/_app_name"
            android:targetActivity=".external.tasker.TaskPrefEditActivity_"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING"/>
            </intent-filter>
        </activity-alias>

        <receiver
            android:name=".external.tasker.FireSettingReceiver"
            android:exported="true"
            android:process=":background"
            tools:ignore="ExportedReceiver">

            <!-- this Intent filter allows the plug-in to discovered by the host. -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".external.open.EditIntentActivity"
            android:icon="@drawable/autojs_material"
            android:label="@string/text_edit_script">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/x-javascript"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".external.open.RunIntentActivity"
            android:icon="@drawable/autojs_material"
            android:label="@string/text_run_script"
            android:taskAffinity="org.autojs.autojs.external.open.RunIntentActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/x-javascript"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".external.open.ImportIntentActivity"
            android:icon="@drawable/autojs_material"
            android:label="@string/text_import_script"
            android:theme="@style/AppTheme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="application/x-javascript"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <service
            android:name=".accessibility.AccessibilityService"
            android:label="@string/_app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>

        <service
            android:name="com.stardust.notification.NotificationListenerService"
            android:label="@string/_app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <receiver android:name=".external.widget.ScriptWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/script_widget_config"/>
        </receiver>

        <receiver android:name=".timing.TaskReceiver">
            <intent-filter>
                <action android:name="com.stardust.autojs.action.task"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".timing.TimedTaskScheduler">
            <intent-filter>
                <action android:name="com.stardust.autojs.action.check_task"/>
            </intent-filter>
        </receiver>

        <!-- 声明广告SDK所需要的组件 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false"/>

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>