<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.stardust.autojs"
    >

    <application
        >
        <activity android:name=".execution.ScriptExecuteActivity"/>

        <service
            android:name="com.stardust.view.accessibility.AccessibilityService"
            android:label="@string/_app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>

        </service>

    </application>

</manifest>
